/**
 * Copyright 2024 UDSM DHIS2 Lab. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

::ng-deep .layer.fixed {
  z-index: 5 !important;
}

::ng-deep th.search-header-cell {
  min-width: 280px !important;
}

::ng-deep th.form-header-cell {
  min-width: 100px !important;
}

::ng-deep .form-label-container {
  display: flex;
}

::ng-deep .form-label-icon {
  width: 20px;
}

::ng-deep .form-label {
  margin-left: 8px;
}

::ng-deep .header-filter {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  input {
    width: 200px;
  }
}

::ng-deep .collection-form-header-filter {
  width: 240px;
}
