<form action="" id="login-form" #loginForm="ngForm">
  <input type="text" required [(ngModel)]="credentials.username" name="username" #username="ngModel"
         placeholder="Enter username" autofocus tabindex="0">
  <input type="password" required [(ngModel)]="credentials.password" name="password" #password="ngModel"
         placeholder="Enter password" autofocus tabindex="1">
  <button type="submit" [disabled]="(!password.valid && !username.valid) || loggingIn" (click)="onSubmit($event)" tabindex="2">
    {{loggingIn ? 'Logging in ...' : 'Login'}}
  </button>
</form>
<div id="login-error-block">{{loginError}}</div>
