.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.search-field{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.search-field:hover{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}
