<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">
    <img src="./assets/icons/logo.png" alt="" class="logo-picture">
    Interactive
    <small>Assignments</small>
  </h1>

  <div class="row">
    <div class="input-group search-field">
      <input type="text" placeholder="Search assignments"
             class="form-control cus" (keyup)="searchingItems($event)">
      <button class="input-group-addon" style="background-color: white;">
        <i class="fa fa-search"></i>
      </button>
    </div>

  </div>

  <div class="row" *ngIf="(assignmentPageLoading$ | async)">
    <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
      <!--<app-item-card></app-item-card>-->
      <app-item-card-loader></app-item-card-loader>
    </div>
  </div>


  <div class="row" *ngIf="(assignmentPageLoaded$ | async)">

    <div class="col-lg-4 col-sm-6 portfolio-item"
      *ngFor="let item of (assignmentPageState$ | async).entities | filterBy: ['header'] : searchText">
      <app-item-card
        [header]="item.header"
        [summary]="item.summary"
        [imageLink]="item.imageLink"
        [link]="item.link"
      ></app-item-card>
    </div>
  </div>
  <!-- /.row -->
  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>

</div>
