<!--<div class="col-lg-4 col-sm-6 portfolio-item">-->
  <div class="card h-100" style="border-radius: 8px" >
    <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
    <span class="icon-holder"> <i class="fa {{imageLink}} icon-size"></i> </span>
    <div class="card-body">
      <h4 class="card-title">
        <a [routerLink]="'/'+link"  >{{header}}</a>
        <!--(click)="toggleNavigation($event, link)"-->
      </h4>
      <p class="card-text">{{summary}}</p>
    </div>
  </div>
<!--</div>-->
