<div class="d-flex justify-content-between">
  <div class="text-sm">
    Showing {{ (pageInterval < maxSize) ? pageInterval : maxSize }} out of {{ maxSize }} records
  </div>
  <div *ngIf="dataArray">
    <div class="row px-2">
      <div style="width:80px;padding-top: 2%;">
        <select
          class="custom-select text-sm"
          id="paginationInput"
          (change)="onSetItemsPerPage($event)"
        >
          <option value="10"> 10 </option>
          <option value="25"> 25 </option>
          <option value="50"> 50 </option>
          <option value="{{maxSize}}"> View All</option>
        </select>
      </div>
      <div>
        <pagination-controls
          class="custom-pagination"
          (pageChange)="onChangeCurrentPage($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
