/**
 * Copyright 2024 UDSM DHIS2 Lab. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

::ng-deep .layer.translucent {
  z-index: 4 !important;
}

::ng-deep .fixedHorizontally {
  /* z-index: 2 !important; */
}

::ng-deep th.search-header-cell {
  min-width: 250px !important;
}

::ng-deep th.form-header-cell {
  min-width: 120px !important;
}

::ng-deep .form-label-container {
  display: flex;
}

::ng-deep .form-label-icon {
  width: 20px;
}

::ng-deep .form-label {
  margin-left: 8px;
}
