<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light my-2 nav-color">
    <a class="navbar-brand" href="#" routerLink="/">
      <img src="./assets/icons/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Interactive Assignments
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-auto meta-search">
        <!--<div class="btn-group">-->
          <input class="form-control mr-sm-2 mx-2 my-2 input-search"
                 type="search" placeholder="Search..." aria-label="Search" (keyup)="searchingItems($event)">
        <!--</div>-->

      </form>
    </div>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="row">

        <!--Orgunit-filter button card-->
        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <!--[ngClass]="{'collapsed': orgunitToggle.btn_class}"-->
            <!--data-toggle="collapse" data-target="#selectOrgunit" aria-expanded="false" aria-controls="selectOrgunit"-->
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    (click)="openOrgunit($event)">
              Select Orgunit
            </button>
            <!--[ngClass]="{'show': orgunitToggle.display_div}"-->
            <div class="collapse data-menu-collapse animated zoomIn" id="selectOrgunit" [ngStyle]="{'display': orgunitToggle}">
              <div class="card card-body">
                <app-org-unit-filter
                  (onOrgUnitClose)="closeFilter($event)"
                  (onOrgUnitUpdate)="updateOrgUnit($event)"
                ></app-org-unit-filter>
              </div>
            </div>
          </div>
        </div>
        <!--End of Orgunit-filter button card-->

        <!--Data-filter button card-->
        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    (click)="openDataFilter($event)">
              Select Data
            </button>
            <div class="collapse data-menu-collapse animated zoomIn" id="selectData" [ngStyle]="{'display': dataToggle}">
              <div class="card card-body">
                <app-data-filter
                  (updatedListToTable)="updateData($event)"
                  (onDataFilterClose)="closeFilter($event)"
                ></app-data-filter>
              </div>
            </div>
          </div>
        </div>
        <!--End of Data-filter button card-->

        <!--Layout-filter button card-->
        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    (click)="openLayoutFilter($event)">
              Layout Design
            </button>
            <div class="collapse data-menu-collapse animated zoomIn" id="changeLayout" [ngStyle]="{'display': layoutToggle}">
              <div class="card card-body">
                <app-layout
                  (onLayoutUpdate)="updateLayout($event)"
                  (onLayoutClose)="closeFilter($event)"
                ></app-layout>
              </div>
            </div>
          </div>
        </div>
        <!--End of Layout-filter button card-->

      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-4">

<div class="card my-4 table-card">
    <table class="table table-bordered table-hover table-sm text-sm mb-0">
      <!--table row head for the loading animation-->
      <tr *ngIf="(selectedData$ | async).length < 1">
        <th *ngFor="let i of getArrayOfnItems(((selectedData$ | async).length > 0)? (selectedData$ | async).length : 8)" style="height: 60px">
          <app-progressive-loader [height]="'60px'"></app-progressive-loader>
        </th>
      </tr>
      <!--end of table row head for the loading animation-->

      <tr *ngIf="(selectedData$ | async).length > 0">
        <th>Organisation unit</th>
        <!-- <th class="assignment-table-header back-grey" title="Programs count assigned to organisation unit">Program</th>
        <th class="assignment-table-header back-grey" title="DataSets count assigned to organisation unit">DataSet</th> -->
        <th *ngFor="let form of ((selectedData$ | async))" class="assignment-table-header">
          {{form.name}}

          <div class="quick-assignment-holder">
            <img class="circular-checkbox" src="./assets/icons/tick.png" alt=""
                 title="Assign all orgunits to {{form.name}}" (click)="assignAll(form)">
            <img class="circular-checkbox mx-2" src="./assets/icons/cross.png" alt=""
                 title="Remove all orgunits to {{form.name}}" (click)="removeAll(form)">
          </div>

        </th>
      </tr>

        <!--Table body with loading animations-->
      <tbody *ngIf="((selectedOgunits$ | async).length < 1)">
      <tr *ngFor="let i of [1,2,4,5,6,7,8,9,10,11,12,13,14,15]">
        <td *ngFor="let i of getArrayOfnItems(((selectedData$ | async).length > 0)? (selectedData$ | async).length + 1: 8)">
          <app-progressive-loader></app-progressive-loader>
        </td>
      </tr>
      </tbody>
      <!--End of Table body with loading animations-->

      <!--Table body with loading animations for unloaded dataSets-->
      <tbody *ngIf="((selectedOgunits$ | async).length > 0 && (selectedData$ | async).length < 1)">
      <tr *ngFor="let orgunit of ((selectedOgunits$ | async) |
      filterBy: ['name'] : searchText |
      paginate: {itemsPerPage: itemsPerPage, currentPage: page })">
        <td class="animated fadeInLeft"> {{orgunit.name}} </td>
        <td *ngFor="let i of getArrayOfnItems(((selectedData$ | async).length > 0)? (selectedData$ | async).length + 1: 7)">
          <app-progressive-loader></app-progressive-loader>
        </td>
      </tr>
      </tbody>
      <!--End of Table body with loading animations for unloaded dataSets-->

      <!--Assignment table body-->
      <tbody *ngIf="((selectedOgunits$ | async).length > 0 && (selectedData$ | async).length > 0)">
      <tr *ngFor="let orgunit of ((selectedOgunits$ | async) |
      filterBy: ['name'] : searchText |
      paginate: {itemsPerPage: itemsPerPage, currentPage: page })">
        <td> {{orgunit.name}} </td>
        <!-- <td class="animated fadeInRight back-grey"
        title="{{orgunit.programs ? orgunit.programs.length : 0}} programs are currently assigned on {{orgunit.name}}">
          {{orgunit.programs ? orgunit.programs.length : 0}}
        </td>
        <td class="animated fadeInRight back-grey"
        title="{{orgunit.dataSets ? orgunit.dataSets.length : 0}} dataSets are currently assigned on {{orgunit.name}}">
          {{orgunit.dataSets ? orgunit.dataSets.length : 0}}
        </td> -->
        <td class="animated fadeInRight" *ngFor="let form of ((selectedData$ | async))">
        <app-assignemt-input
          [assignmentObject]="(assignmentFiltersEntities$ | async)[orgunit.id + '-' + form.id]"
        ></app-assignemt-input>
        </td>
      </tr>
      </tbody>
      <!--End of Assignment table body-->

      <!--Footer for Assignment Table-->
      <tfoot  *ngIf="((selectedOgunits$ | async).length > 0)">
      <tr  *ngIf="((selectedOgunits$ | async).length > 0)">
        <td [attr.colspan]="(selectedData$ | async).length + 3"
        style="padding-top: 1% !important;">
          <app-pagination
            [itemsPerPage]="itemsPerPage"
            [pageInterval]="15"
            [currentPage]="page"
            [dataArray]="(selectedOgunits$ | async)"
            (changeCurrentPage)="onCurrentPageUpdate($event)"
            (updateItemsPerPage)="onUpdatePageSize($event)"
          ></app-pagination>
        </td>
      </tr>
      </tfoot>
      <!--End of Footer for Assignment Table-->

    </table>
  </div>

</div>

<div *ngIf="showNotificationPopup && showNotificationContents.notificationProperties">
  <app-notification
    [notificationProperties]="showNotificationContents.notificationProperties"
    [isSuccessful]="showNotificationContents.isSuccessful"
    [isError]="showNotificationContents.isError"
    [isOffline]="showNotificationContents.isOffline"
    [uploadOffline]="showNotificationContents.uploadOffline"
    [showNotification]="showNotificationPopup"
  ></app-notification>
</div>
