<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light my-2 nav-color">
    <a class="navbar-brand" href="!#">Meta Data Assingments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-auto meta-search">
        <input class="form-control mr-sm-2" style="width: 100%;"
               type="search" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </nav>

  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    data-toggle="collapse" data-target="#selectOrgunit" aria-expanded="false" aria-controls="selectOrgunit">
              Select Orgunit
            </button>
            <div class="collapse data-menu-collapse" id="selectOrgunit">
              <div class="card card-body">
               Orgunit Component Here
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    data-toggle="collapse" data-target="#selectData" aria-expanded="false" aria-controls="selectData">
              Select Data
            </button>
            <div class="collapse data-menu-collapse" id="selectData">
              <div class="card card-body">
                Data Component Here
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="selection-block">
            <button class="btn btn-outline-secondary btn-sm btn-block filter-btn on-mobile-my"
                    data-toggle="collapse" data-target="#changeLayout" aria-expanded="false" aria-controls="changeLayout">
              Layout Design
            </button>
            <div class="collapse data-menu-collapse" id="changeLayout">
              <div class="card card-body">
                Layout Component Here
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
