.nav-borders{
  border: gray 1px solid;
}

.nav-color{
  background-color: #f8f9fa !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.selection-block{
  position: relative;
}
.btn-features{
  width: 100%;
  /*background-color: white;*/
}
.data-menu-collapse{
  position: absolute;
  width: 100%;
  z-index: 10;
}
.input-search{
  width: 73%;
}

thead tr th:nth-child(n+2),
tbody tr td:nth-child(n+2){
  width: 10em;
  /*min-width: 4em;*/
  max-width: 10em;
  word-break: normal;
  padding: 0 2px 1px 2px;
  text-align: center;
}

/*.show {*/
  /*display: block;*/
/*}*/
