.snackbar {
  min-width: 20%;
  margin-left: -10%;
  /*background-color: #333;*/
  /*color: #fff;*/
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 10px;
  font-size: 17px;
}

.snack-bar-color-warning{
  background-color: #fff3cb;
  color: #856404;
}

.snack-bar-color-success{
  background-color: #d3ecd9;
  color: #155724;
}

.snack-bar-color-error{
  background-color: #f8d7da;
  color: #721c24;
}
